@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

#animated-are {
  background-image:
  url(images/source.gif);
  height: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
    border: black;

}

h2 {
    color: #30475E;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
}

a:hover {
  color: black;
}

.btn-blue {
    background-color: #30475E;
    opacity: 100%;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.card-white {
    background-color: black;
    opacity: 90%;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    color: white;
}
.container {
    width: 700px;
    margin: 40px auto;
}
